#message-box{
    border: 1px solid;
    border-color: black;
    width: 500px;
    height: 500px;
    margin-top: 20px;
    background-color: aliceblue;
}

button {
    border-radius: 5px;
    color: white;
    background-color: #4a95f0;
    border: none;
    padding: 4px;
}

body{
    background-color: beige;
}